<?xml version="1.0"?>
<model>
    <name>NavBot</name>
    <version>1.0</version>
    <sdf>urdf/NavBot.sdf</sdf>
    <author>
        <name>Chris Scully</name>
        <email>cws3p4@mail.missouri.edu</email>
    </author>
    <description>
        A description of the model
    </description>
</model>
